.header {
	width: 100%;
	background-color: #FFEA00;

}

body {
	background-color: #FFEA00;
}


.box {
	position: relative;
	float: left;
	height: 100%;
	padding: 1%;
	text-align: center;
	background-image: linear-gradient(#007bff, rgba(0,0,200), rgba(0,0,128));
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
}

.btn-primary {
    color: #fff;
    background-image: linear-gradient(#007bff, rgba(0,0,200), rgba(0,0,128));
    /* border-color: rgba(0,0,128); */
}

#submit {
	background-color: #007bff;
}

#gameboard {
	position: relative;
	width: 70%;
	height: 200px;
	margin: 25px auto;
}

.player1 {
    margin-right: 30px;
}

img {
	height: 250px;
}

h2, h5 {
	color: white;
}

button {
	font-size:48px;
	color:white;
	background: rgba(243, 238, 239, 0);
	border: none;
}

button:hover {
	cursor: pointer;
}

input {
	margin-bottom: 15px
}

/*#results {
	color: blue;
}*/

/* .hide { 
	display: none; 
 } */