
.box {
	position: relative;
	float: left;
	height: 100%;
	padding: 1%;
	text-align: center;
	background: #EC1D23;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
}


#gameboard {
	position: relative;
	width: 70%;
	height: 200px;
	margin: 25px auto;
}

.player1 {
    margin-right: 30px;
}

img {
	height: 250px;
}

h2, h5 {
	color: white;
}

button {
	font-size:48px;
	color:white;
	background-color: #EC1D23;
	border: none;
}

button:hover {
	cursor: pointer;
}

input {
	margin-bottom: 15px
}

/*#results {
	color: blue;
}*/

/* .hide { 
	display: none; 
 } */